# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos da publicação
publicacoes/*